---
import '@fontsource-variable/exo-2';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/spaceman.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Tethernaut Games</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Exo 2 Variable', sans-serif;
	}
</style>
